<!DOCTYPE html>
<html>

<head>
  <title>Vampire Proof</title>

  <meta charset="UTF-8">
  <meta name="description" content="TODO">
  <meta name="author" content="Lena Schnedlitz">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- VIS.JS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">

  <!-- IMPORTS -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<main>
  <section id="graph">
    <canvas></canvas>
  </section>
  <section>
    <form id="buttonForm" action="" method="post">
      <input type="submit" name="decrease" value="-"/>
      <section id="slideWrapper">
        <small id="slideValue" class="slide-value"></small>
        <section id="slideContainer"></section>
      </section>
      <input type="submit" name="increase" value="+"/>
    </form>
  </section>
</main>
<aside>
  <!-- FILE UPLOAD -->
  <form id="fileForm" action="" method="post" enctype="multipart/form-data">
    <input id="fileUpload"
           type="hidden"
           name="file"/>
    <input id="fileSelector"
           type="file"
           onchange="uploadFile(this.files)"/>
    <input class="sidebar-button"
           type="button"
           value="New"
           title="Select a new file..."
           onclick="chooseFile()"/>
  </form>

  <!-- RESET GRAPH -->
  <form id="resetForm" class="spaced" action="" method="post">
    <input class="sidebar-button"
           type="submit"
           name="reset"
           value="Reset graph"/>
  </form>

  <!-- NEW LAYOUT -->
  <form id="selectForm" class="half-spaced" action="" method="post">
    <input id="selection"
           type="hidden"
           name="selection"/>
    <input id="selectionSubmit"
           class="sidebar-button"
           type="submit"
           disabled
           value="Render selection only"/>
  </form>

  <!-- SELECTION -->
  <article>
    <h2>Selection</h2>

    <!-- INFO -->
    <small class="node-info"><strong id="nodeCount">0 nodes</strong> selected</small>
    <br>

    <!-- PARENTS -->
    <button id="selectParents"
            class="sidebar-button spaced"
            disabled
            onclick="selectParents()">
      Select parents
    </button>
    <br>

    <!-- SEARCH -->
    <input id="search"
           class="sidebar-input spaced"
           type="text"
           placeholder="Search for node ..."
           onkeyup="search(this.value)"/>
  </article>

  <!-- LEGEND -->
  <article class="legend">
    <h2>Legend</h2>
    <section id="legendGraph">
      <canvas></canvas>
    </section>
  </article>

</aside>

<script type="text/javascript">
  // VARIABLE DEFINITIONS //////////////////////////////////////////////////////////////////////////////////////////////
  {% if reset is defined and reset %}
    const resetSession = true;
  {% else %}
    const resetSession = false;
  {% endif %}

  let historyLength = {{ historyLength | int }};
  {% if historyState is defined %}
    let historyState = {{ historyState | int }};
  {% else %}
    let historyState = historyLength - 1;
  {% endif %}

  let selection = [];

  let network = null;
  let data = {{ dagData | safe }};
  let nodes = new vis.DataSet(data.graph.nodes);
  let edges = new vis.DataSet(data.graph.edges);

  let legendNodes = {{ legend | safe }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/actions.js') }}"></script>
</body>
</html>