<!DOCTYPE html>
<html>

<head>
  <title>Vampire Proof</title>

  <meta charset="UTF-8">
  <meta name="description" content="TODO">
  <meta name="author" content="Lena Schnedlitz">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- VIS.JS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">

  <!-- IMPORTS -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<main>
  <section id="graph">
    <canvas></canvas>
  </section>
  <section>
    <form id="buttonForm" action="" method="post">
      <input id="historySelection"
             type="hidden"
             name="historySelection"/>
      <input id="historyMarkers"
             type="hidden"
             name="marked"/>
      <input type="submit" id="showPreviousStep" name="decrease" value="-"/>
      <section id="slideWrapper">
        <small id="slideValue" class="slide-value"></small>
        <section id="slideContainer"></section>
      </section>
      <input type="submit" id="showNextStep" name="increase" value="+"/>
    </form>
  </section>
</main>
<aside>
  <section class="form-group spaced">
    <!-- FILE UPLOAD -->
    <form id="fileForm" action="" method="post" enctype="multipart/form-data">
      <input type="hidden" id="fileUpload" name="file"/>
      <input type="file" id="fileSelector" class="hidden" onchange="uploadFile(this.files)"/>

      <input type="button"
             id="uploadFileButton"
             value="file"
             title="Pick a new file"
             onclick="chooseFile()"/>
    </form>

    <!-- TRANSFORMATION -->
    <form action="" method="post">
      <input type="hidden" id="transformationSelection" name="selection"/>
      <input type="hidden" id="transformationMarkers" name="marked"/>

      <input type="submit"
             id="undoLastStep"
             value="undo"
             title="Undo last transformation"
             name="undo"/>
      <input type="submit"
             id="selectUp"
             disabled
             value="up"
             title="Render selection only (up)"
             name="up"/>
      <input type="submit"
             id="selectDown"
             disabled
             value="down"
             title="Render selection only (down)"
             name="down"/>
    </form>
  </section>

  <section class="card">
    <article>
      <h2>Select Nodes</h2>
      <section class="form-group">
        <!-- SELECT RELATIVES -->
        <section class="fake-form">
          <button id="selectParents"
                  disabled
                  title="Select parents"
                  onclick="selectParents()">A
          </button>
          <button id="selectChildren"
                  disabled
                  title="Select children"
                  onclick="selectChildren()">B
          </button>
        </section>

        <!-- SELECT CONSEQUENCES -->
        <form action="" method="post">
          <input id="consequenceSelection" type="hidden" name="consequenceOrigins"/>
          <input id="consequenceMarkers" type="hidden" name="marked"/>

          <input type="submit"
                 id="findCommonConsequences"
                 disabled
                 value="C"
                 title="Find common consequences"/>
        </form>
      </section>
      <!-- SEARCH -->
      <input id="search"
             class="sidebar-input spaced"
             type="text"
             placeholder="Search for a node ..."
             onkeyup="search(this.value)"/>
      <ul id="searchResults">
      </ul>
    </article>
    <section class="subsection">
      <!-- DETAILS -->
      <article id="nodeDetails" class="hidden">
        <h2>Node <span id="nodeDetailsId"></span></h2>
        <h3 id="nodeDetailsRule"></h3>
        <p id="nodeDetailsClause"></p>
      </article>

      <!-- COUNT INFO -->
      <small id="nodeInfo"><strong id="nodeCount">0 nodes</strong> selected</small>
    </section>
  </section>
</aside>

<script type="text/javascript">
  // VARIABLE DEFINITIONS //////////////////////////////////////////////////////////////////////////////////////////////
  {% if reset %}
    const resetSession = true;
  {% else %}
    const resetSession = false;
  {% endif %}

  {% if no_undo %}
    document.getElementById('undoLastStep').disabled = true;
  {% endif %}

  let historyLength = {{ history_length | int }};
  let historyState = {{ history_state | int }};

  let selection = {{ preselected_nodes }};
  let marked = new Set({{ marked_nodes }});

  let network = null;
  let data = {{ dag_data | safe }};
  let nodes = new vis.DataSet(data.graph.nodes);
  let edges = new vis.DataSet(data.graph.edges);
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/actions.js') }}"></script>
</body>
</html>
