.component-node-details {
  margin: 0.5rem -0.5rem 0;
  padding: 0 0.5rem 0.5rem;

  box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, .1);

  border-radius: 2px;
  transition: all ease-in 330ms;
}

.component-node-details.details-top {
  background: #f8f9fb;
  overflow: auto;
  width: 30rem;
}
.component-node-details.details-top-0 {
    position: fixed;
    top: 10rem;
    background: #f8f9fb;
    overflow: auto;
    width: 30rem;
}
.component-node-details.details-top-1 {
    position: fixed;
    top: 10rem;
    background: #f8f9fb;
    overflow: auto;
    width: 30rem;
    left: 34rem;
}
.component-node-details.details-diff {
    position: fixed;
    top: 10rem;
    left: 68rem;
    background: #f8f9fb;
    overflow: auto;
    width: 30rem;
}
.component-node-details.details-bottom {
    position: fixed;
    bottom: 4rem;
    background: #f8f9fb;
    overflow: auto;
    width: 30rem;
}
.component-node-details.details-bottom-0 {
    position: fixed;
    bottom: 4rem;
    background: #f8f9fb;
    overflow: auto;
    width: 30rem;
}
.component-node-details.details-bottom-1 {
    position: fixed;
    bottom: 4rem;
    background: #f8f9fb;
    overflow: auto;
    width: 30rem;
    left: 34rem;
}
.component-node-details.overview {
  background: #fff;
}

.component-node-details article {
    padding: 0.5rem 0;
    overflow: auto;
    resize: vertical;
    height: 500px;
}

.component-node-details article h2 {
  margin: 1rem 5px calc(1rem - 5px);
  font-size: 1.3rem;
  font-weight: 100;
}

.component-node-details strong {
  color: #343539;
  font-weight: bold;
}

.component-node-details h3 {
  margin: -0.5rem 0 1rem;
  padding: 0 5px;
  font-size: 0.833rem;
  font-weight: normal;
  opacity: 0.5;
  text-transform: capitalize;
}

.component-node-details .literal-wrapper {
  margin: 0.5rem 0 0;
  padding: 1rem;
  background: #fff;

  font-family: monospace;
  word-break: break-word;
}

ul#id1 {
  min-height: 2rem;
}

ul#id2 {
  min-height: 2rem;
}

ul#id3 {
  min-height: 2rem;
}

.component-node-details small {
  display: block;
  padding: 1rem 5px 0.5rem;
  opacity: 0.5;
}

.green {
    color: green;
}

.red {
    color: red;
}

.black {
    color: black;
}

.component-node-details article span {
    font-family: monospace;
    white-space: pre-wrap;
}
