html {
  height: 100%;
  width: 100%;
  font-family: 'Arial', 'Helvetica', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
}

main {
  flex-grow: 1;
  background: #f8f8f8;
  padding: 1rem;
}

aside {
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  margin: 1rem 1.5rem;
  display: flex;
  width: 240px;
}

#graph {
  width: 100%;
  height: calc(100% - 4rem);
  border-radius: 2px;

  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
}

#buttonForm {
  display: flex;
  align-items: center;
}

#slideWrapper {
  flex-grow: 1;
  padding: 0.5rem;
}

#slideContainer {
  margin-bottom: 1rem;
}

#fileSelector {
  display: none;
}

input[type="range"] {
  width: 100%;
  margin-left: 0;
}

.slide-value {
  display: inline-block;
  position: relative;

  height: 1rem;
  width: 3rem;
  margin-left: -1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

#fileForm > input[type="button"] {
  width: 100%;
}

.node-info {
  margin-top: 2rem;
  opacity: 0.5;
}

.sidebar-button {
  padding: 0.25rem 0.75rem;
  width: 100%;
}

.sidebar-input {
  padding: 0.3rem 0.5rem;
  background: transparent;
  border: solid 1px #ddd;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .07);
}

#search {
  width: 100%;
  box-sizing: border-box;
}

.legend {
  margin-top: auto;
}

article > h2 {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 1.3rem;
  font-weight: 100;
}

#legendGraph {
  height: 180px;
  max-width: 150px;
  margin-left: -17px;
}

.spaced {
  margin-top: 1rem;
}

.half-spaced {
  margin-top: 0.5rem;
}

ul {
  margin-top: 0.5rem;
  padding-left: 0;
}

li {
  list-style: none;
  font-size: 0.833rem;
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

strong.data-label {
  display: block;
  font-size: 0.833rem;
  margin-top: 0.5rem;
  opacity: 0.8;
}

h3 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 100;
  opacity: 0.8;
}

.hidden {
  display: none;
}
