html {
  height: 100%;
  width: 100%;
  font-family: 'Arial', 'Helvetica', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
  background: #f4f5f7;
}

main {
  flex-grow: 1;
  padding: 1rem;
}

#graph {
  width: 100%;
  height: calc(100% - 4rem);
  border-radius: 2px;

  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
}

#buttonForm {
  display: flex;
  align-items: center;
}

#slideWrapper {
  flex-grow: 1;
  padding: 0.5rem;
}

#slideContainer {
  margin-bottom: 1rem;
}

input[type="range"] {
  width: 100%;
  margin-left: 0;
}

.slide-value {
  display: inline-block;
  position: relative;

  height: 1rem;
  width: 3rem;
  margin-left: -1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

aside {
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0 1.5rem;
  display: flex;
  width: 240px;
}

form,
.fake-form,
.form-group {
  display: flex;
}

aside button,
aside input[type="submit"],
aside input[type="button"] {
  height: 50px;
  width: 50px;
  margin: 0 5px;
  border: none;
  border-radius: 2px;
  background: #d4d8d9;
}

aside button:hover,
aside input[type="submit"]:hover,
aside input[type="button"]:hover {
  box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, .1);
}

aside button:active,
aside input[type="submit"]:active,
aside input[type="button"]:active {
  box-shadow: inset 1px 3px 8px 2px rgba(0, 0, 0, .1);
}

aside button:disabled,
aside input[type="submit"]:disabled,
aside input[type="button"]:disabled {
  background: #e6ebef;
  box-shadow: none;
}

.card {
  margin: 0 -0.5rem;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
}

.card > .subsection {
  background: #f8f9fb;
  padding: 0 0.5rem 0.5rem;
  overflow: hidden;
}

.card > article {
  padding: 0.5rem 0.5rem 0;
}

article > h2 {
  margin: 1rem 5px calc(1rem - 5px);
  font-size: 1.3rem;
  font-weight: 100;
}

#search {
  margin: 1rem 5px 0;
  padding: 0.3rem 0.5rem;
  width: calc(100% - 10px);
  box-sizing: border-box;
  background: transparent;
  border: solid 1px #ddd;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .07);
}

ul {
  margin-top: 0.5rem;
  padding-left: 0;
}

li {
  list-style: none;
  font-size: 0.833rem;
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

#nodeInfo {
  display: block;
  padding: 1rem 0.5rem 0.5rem;
  opacity: 0.5;
}

.data-label {
  display: block;
  font-weight: bold;
  margin-top: 0.5rem;
  padding: 0 5px;
  opacity: 0.5;
}

.data-label + span {
  font-family: monospace;
  display: block;
  padding: 0 5px;
}

.hidden {
  display: none !important;
}

.spaced {
  margin-bottom: 1.5rem;
}
