.app main {
  flex-direction: column;
  flex-grow: 1;
  padding: 1.5rem 1rem;

  background: #f8f9fb;
}

.app main > .graph-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;

  height: calc(100% - 2.5rem);
  width: 100%;
  border-radius: 2px;

  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
  color: rgba(0, 0, 0, .5);
}

.app main > .upload-info {
  align-items: start;
  justify-content: right;
  padding: 1rem 1.5rem;
  box-sizing: border-box;

  color: #343539;
}

.app main > .upload-info > span  {
  margin-left: auto;
}

.app main > .slider-placeholder {
  margin-top: 0.5rem;
  height: 2rem;
  width: 100%;

  background: #f4f5f7;

  border-radius: 2px;
}

.app aside {
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0.5rem 1.5rem;
  display: flex;
  width: 400px;
}

.ReactModal__Overlay {
  background: transparent !important;
}

.ReactModal__Content {
  width: calc(100% - 384px) !important;
  padding: 1rem !important;
  inset: 5rem 3rem 6rem !important;
  top: 5rem !important;
  left: 3rem !important;
  bottom: 6rem !important;
  border: none !important;
  border-radius: 2px !important;
  box-shadow: 5px 5px 50px 0 rgba(0,0,0,0.2) !important;
  box-sizing: border-box !important;
}

.ReactModal__Content .component-graph {
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
}
