main {
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;

  background: #f8f9fb;
}

main > .graph-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;

  height: calc(100% - 2.5rem);
  width: 100%;
  border-radius: 2px;

  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
  color: rgba(0, 0, 0, .5);
}

main > .upload-info {
  align-items: start;
  justify-content: right;
  padding: 1rem 1.5rem;
  box-sizing: border-box;

  color: #343539;
}

main > .upload-info > span  {
  margin-left: auto;
}

main > .slider-placeholder {
  margin-top: 0.5rem;
  height: 2rem;
  width: 100%;

  background: #f4f5f7;

  border-radius: 2px;
}

aside {
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0 1.5rem;
  display: flex;
  width: 240px;
}
