#nodeInfo {
  padding-bottom: 1rem;
}

.component-node-details {
  margin: 1rem -0.5rem 0;
  padding: 0 0.5rem;
  overflow: hidden;

  box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, .1);

  border-radius: 2px;
  transition: all ease-in 330ms;
}

.component-node-details.details {
  background: #fff;
}

.component-node-details.details article {
  position: relative;
}

.component-node-details .button-bar {
  position: absolute;
  top: 1.5rem;
  right: 0;
}

.component-node-details .toggle-button {
  width: 1.4rem;
  height: 1.4rem;
  padding: 0.2rem;
  margin: 0.1rem 0.25rem 0 0;
  border: none;
  border-radius: 50rem;
  background: none;
  cursor: pointer;
}

.component-node-details .toggle-button.toggled {
  background: #e6ebef;
}

.component-node-details .toggle-button:not(:disabled):hover svg {
  stroke: #64656e;
}

.component-node-details .toggle-button:disabled {
  cursor: default;
}

.component-node-details.overview {
  background: #fff;
}

.component-node-details article {
  padding: 0.5rem 0 0;
}

.component-node-details article h2 {
  margin: 1rem 5px calc(1rem - 5px);
  font-size: 1.3rem;
  font-weight: 100;
}

.component-node-details strong {
  color: #343539;
  font-weight: bold;
}

.component-node-details h3 {
  margin: -0.5rem 0 1rem;
  padding: 0 5px;

  font-size: 0.833rem;
  font-weight: normal;
  text-transform: capitalize;
  opacity: 0.5;
}

.component-node-details .node-data {
  padding-top: 0.5rem;

  text-transform: capitalize;
  opacity: 1;
}

.component-node-details ul.stats {
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.component-node-details ul.stats li {
  border-radius: 50px;
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;

  background: #f4f5f7;

  font-size: 0.833rem;
  text-transform: capitalize;
}

.component-node-details .literal-wrapper {
  margin: 0.5rem -0.5rem 0;
  padding: 0.75rem;

  background: #f8f9fb;
  border-radius: 0 0 2px 2px;

  font-family: monospace;
  word-break: break-word;
}

.component-node-details .literal-wrapper.read-mode {
  white-space: pre-wrap;
  text-align: center;
}

.component-node-details .literal-wrapper .separator {
  display: block;
  width: 100%;
  transition: ease-in 200ms;
}

.component-node-details .separator.count-0 {
  opacity: 0;
}

.component-node-details .literal-wrapper.drag .separator.count-0 {
  opacity: 0.1;
}

.component-node-details .separator-arrow {
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.5;
}

.component-node-details .separator-line {
  height: 1px;
  margin: 0.5rem 0;
  opacity: 0.3;
  border-bottom: solid 1px #000;
}

.component-node-details .literal-wrapper ul {
  min-height: 1.5rem;
  margin: 0;
  padding: 0.25rem;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  list-style: none;
  border-radius: 1px;
  transition: ease-in 200ms;
}

.component-node-details .literal-wrapper.drag ul {
  background: #fff;
}

.component-node-details .literal-wrapper li {
  margin: 1px;
  padding: 0.25rem 0.5rem;

  background: #fff;
  border: solid 1px #ddd;
  border-radius: 2px;

  cursor: grab;
}

.component-node-details small {
  display: block;
  padding: 1rem 5px 0.5rem;
  opacity: 0.5;
}

