.component-node-card {
  margin: 0 -0.5rem;

  background: #fff;
  box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, .1);

  border-radius: 2px;
}

.component-node-card > article {
  padding: 0.5rem 0.5rem 0;
}

.component-node-card > article h2 {
  margin: 1rem 5px calc(1rem - 5px);
  font-size: 1.3rem;
  font-weight: 100;
}
