.component-slider {
  align-items: center;
  display: flex;
  height: 2rem;
  margin-top: 0.5rem;
}

.component-slider .wrapper {
  display: flex;
  flex-grow: 1;
}

.component-slider input[type=range] {
  flex-grow: 1;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 100%;
}

.component-slider button {
  height: 25px;
  width: 25px;
  margin: 0;

  background-color: #d4d8d9;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  color: transparent;

  border-radius: 2px;
}

.component-slider button:hover {
  box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, .1);
}

.component-slider button:focus {
  outline: none;
}

.component-slider button:active {
  box-shadow: inset 1px 3px 8px 2px rgba(0, 0, 0, .1);
  outline: none;
}

.component-slider button:disabled {
  background-color: #e6ebef;
  box-shadow: none;
  color: transparent;
}
