.component-graph-menu {
  margin: 0 -0.5rem 1rem;
  padding: 0.5rem;
  background: #fff;
  box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, .1);
  border-radius: 2px;
}

.component-graph-menu-content {
  display: flex;
  margin-bottom: 0.25rem;
}

.component-graph-menu input[type=file] {
  display: none !important;
}

.component-graph-menu button {
  height: 50px;
  width: 50px;
  margin: 0 5px;

  border: none;
  background-color: #d4d8d9;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;

  border-radius: 2px;
}

.component-graph-menu button:hover {
  box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, .1);
}

.component-graph-menu button:focus {
  outline: none;
}

.component-graph-menu button:active {
  box-shadow: inset 1px 3px 8px 2px rgba(0, 0, 0, .1);
  outline: none;
}

.component-graph-menu button:disabled {
  background-color: #e6ebef;
  box-shadow: none;
  color: transparent;
}
