.component-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  background: #f4f5f7;
}

.unsupported-message {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unsupported-message svg {
  width: 8rem;
  margin-bottom: 2rem;
  stroke: #64656e;
}

.component-menu h1 {
  margin: 0;
  padding: 2.5rem 1rem 2rem;
  text-align: center;
  color: #64656e;
}

.component-menu .editor {
  display: flex;
  flex-grow: 1;
  background: #f8f9fb;
}

.component-menu .editor-spacer {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 2rem;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}


/* INPUT */

.component-menu main {
  display: flex;
  flex-direction: column;
  flex-basis: 61%;
  margin-right: 2rem;
  padding: 1.25rem 1rem;

  border-radius: 2px;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
  color: rgba(0, 0, 0, .5);
}

.component-menu .headline-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component-menu .headline-wrapper button {
  height: 38px;
  width: 38px;
  margin: 0;
  padding: 0;

  background-color: #d4d8d9;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  color: transparent;

  border-radius: 2px;
}

.component-menu .headline-wrapper button:hover {
  box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, .1);
}

.component-menu .headline-wrapper button:focus {
  outline: none;
}

.component-menu .headline-wrapper button:active {
  box-shadow: inset 1px 3px 8px 2px rgba(0, 0, 0, .1);
  outline: none;
}

.component-menu .headline-wrapper svg {
  padding-top: 10%;
  width: 60%;
}

.component-menu .file-name {
  flex-grow: 1;
  text-align: right;
  padding: 0 1rem;
}

.component-menu h2 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 100;
}

.component-menu input[type=file] {
  display: none !important;
}

.component-menu textarea {
  resize: none;
}

.component-menu .monaco {
  flex-grow: 1;
  margin: 1rem 0 0;
  border: solid 1px #ddd;
  color: rgba(0, 0, 0, .5);
}

.component-menu .monaco .lines-content.monaco-editor-background {
  margin-top: 14px;
}

/* OPTIONS */

.component-menu aside {
  flex-basis: 37%;
}

.component-menu .options-card {
  margin: 0.5rem 0 1rem;
  padding: 1rem;
  overflow: hidden;
  border: none;
  border-radius: 2px;

  background: #fff;
  box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, .1);
}

.component-menu .options-card:first-child {
  margin-top: 0;
}

.component-menu .options-card h3 {
  margin: -1rem -1rem 0;
  padding: 1.3rem 1rem calc(1.4rem - 5px);
  background: #f8f9fb;
  color: rgba(0, 0, 0, .5);
  font-weight: 100;
}

.component-menu .options-card ul {
  margin: 0.5rem 0 0;
  padding: 0;
}

.component-menu .options-card li {
  padding: 0.25rem 0;
  list-style: none;
}

.component-menu .options-card .form-label {
  display: block;
  margin: 1rem 0 0.5rem;
}

.component-menu .options-card li:first-child .form-label {
  margin-top: 0;
}

.component-menu .options-card input[type="text"],
.component-menu .options-card select {
  height: 2rem;
  width: 100%;
  padding: 0 0.5rem;
  position: relative;
  box-sizing: border-box;
  z-index: 20;
  background: transparent;
  border: solid 1px #ddd;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .07);
  outline: none;
  line-height: 2rem;
}

.component-menu input[type="checkbox"] {
  margin-right: 0.5rem;
}

.component-menu .run-options {
  margin-top: 2rem;
}

/* BOTTOM */

.component-menu .load-component {
  padding: 2rem 2rem 3rem;
  text-align: center;
  background: #f4f5f7;
}

.component-menu .load-button,
.component-menu .fake-button {
  margin: 0 5px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2px;

  background: #64656e;
  color: #f8f9fb;
  text-decoration: none;
  font-size: 0.8rem;
}

.component-menu .load-button {
  padding-top: 0.3rem;
  outline: none;
  cursor: pointer;
}

.component-menu .load-button svg {
  position: relative;
  top: 0.1rem;
  left: -0.2rem;
  width: 15px;
  stroke: #f8f9fb;
}

.component-menu .load-button:hover,
.component-menu .fake-button:hover {
  color: #d4d8d9;
  box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, .1);
}

.component-menu .load-button:hover svg {
  stroke: #d4d8d9;
}

.component-menu .load-button:active,
.component-menu .fake-button:active {
  box-shadow: inset 1px 3px 8px 2px rgba(0, 0, 0, .1);
}
