.component-search {
  margin: 1rem -0.5rem -0.5rem;
  padding: 0 0.5rem;
  position: relative;

  background: #f8f9fb;
  border-radius: 0 0 2px 2px;
}

.component-search input {
  height: 2rem;
  width: calc(100% - 10px);
  margin: 0.25rem 5px;
  padding: 0 0.5rem;
  position: relative;
  box-sizing: border-box;
  z-index: 20;

  background: transparent;
  border: solid 1px #ddd;
  outline: none;

  line-height: 2rem;
  text-overflow: ellipsis;
}

.component-search input:first-of-type {
  margin-top: 1rem;
}

.component-search input:last-of-type {
  margin-bottom: 1rem;
}

.component-search:hover input {
  background: #fff;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .07);
}

.component-search ul:hover,
.component-search input:hover ~ ul,
.component-search input:focus ~ ul,
.component-search input:active ~ ul {
  background: #fff;
  box-shadow: 1px 3px 30px 0 rgba(0, 0, 0, .25);
}

.component-search input:disabled + ul {
  box-shadow: none;
}

.component-search ul {
  background: #f8f9fb;
  position: absolute;
  margin: calc(-8rem - 5px) 0 0;
  padding: calc(6.5rem + 10px) 0.5rem 0.5rem;
  overflow: hidden;
  border-radius: 5px;
  width: 225px;
  z-index: 10;
  max-height: 0;
}

.component-search:hover ul,
.component-search:focus ul,
.component-search:active ul {
  max-height: unset;
}

.component-search ul:hover,
.component-search ul:focus,
.component-search ul:active {
  box-shadow: 1px 3px 30px 0 rgba(0, 0, 0, .25);
}

.component-search li {
  margin: 0 -0.5rem;
  padding: 0.25rem 0.7rem;
  line-height: 1.5;

  color: #343539;

  cursor: pointer;
  font-family: monospace;
  font-size: 0.75rem;
  list-style: none;
}

.component-search li:hover {
  background: #f4f5f7;
  color: #000;

  border-radius: 2px;
}

.component-search li:first-child {
  margin-top: 0.5rem;
}

.component-search li.disabled-element:hover {
  background: transparent;
}
