html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'Helvetica', sans-serif;
}

body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
  background: #f4f5f7;
}

svg.icon {
  fill: none;
  stroke: #343539;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width:2;
}

svg.icon.big {
  width: 80%;
}

button:disabled svg.icon {
  stroke: #999a9c;
}
