<!DOCTYPE html>
<html>

<head>
  <title>Vampire Proof</title>

  <meta charset="UTF-8">
  <meta name="description" content="TODO">
  <meta name="author" content="Lena Schnedlitz">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- vis.js -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">

  <!-- imports -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<main id="graph">
  <canvas></canvas>
</main>
<section>
  <form action="" method="post">
      <input type="submit" name="decrease" value="-" />
      <input type="submit" name="increase" value="+" />
  </form>

    <span id="slide-value" class="slide-value"></span>
  <form id="slide-container" method="POST"></form>
</section>

<script type="text/javascript">
  let data = {{ dagData | safe }};
  {% if slideState is defined %}
  let slideState = {{ slideState | int }};
  {% else %}
  let slideState = data.order.length;
  {% endif %}
  let nodes = new vis.DataSet(data.graph.nodes);
  let edges = new vis.DataSet(data.graph.edges);
  let network = null;

  const drawGraph = () => {
    const parent = document.getElementById('graph');
    const options = {
      physics: false
    };
    const viewPosition = JSON.parse(sessionStorage.getItem('viewPosition') || null);
    const scale = sessionStorage.getItem('scale');

    network = new vis.Network(parent, {'nodes': nodes, 'edges': edges}, options);
    if (viewPosition && scale) {
      network.moveTo({
        scale: scale,
        position: viewPosition
      })
    }

    network.on('afterDrawing', () => {
      sessionStorage.setItem('viewPosition', JSON.stringify(network.getViewPosition()));
      sessionStorage.setItem('scale', network.getScale());
    });
  };

  const renderSlide = () => {
    const slide = document.createElement('input');
    slide.type = 'range';
    slide.min = 1;
    slide.max = data.order.length;
    slide.value = slideState;
    slide.name = 'slide';
    slide.onchange = function () {
      this.form.submit()
    };

    const parent = document.getElementById('slide-container');
    parent.appendChild(slide);
  };

  const updateSlideValueDisplay = () => {
    const slideValueDisplay = document.getElementById('slide-value');
    slideValueDisplay.innerText = slideState;
    slideValueDisplay.setAttribute('style', `left: ${slideState * 100 / data.order.length}%`);
  };

  drawGraph();
  renderSlide();
  updateSlideValueDisplay();
</script>

</body>
</html>